body {
  font-family: 'Rubik', sans-serif;
  color: #303841;
  /* overflow: hidden; */
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 730px;
  margin: 0 auto;

}

@media (max-width: 768px) {
  .App {
    justify-content: center;
    align-items: center;
  }
}

.App::before {
  content: '';
  display: block;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  background-color: #f6c90e;
  z-index: -1;

  animation: wave 4s ease-in-out infinite alternate;
}

@keyframes wave {
  0% {
    transform: translateX(-50%) skewY(-8deg) translateY(-20px);
  }

  100% {
    transform: translateX(-50%) skewY(-8deg) translateY(20px);
  }
}